* {
    scroll-behavior: smooth;
    margin-block-start: 0;
}
body {
    background-color: beige;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}
nav  {
    background-color: #2c3139;
    height: 70px;
    align-items: center;
}
nav .contents {
    overflow-x: visible;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vh;
    position: relative;
    top: 50%;
}
nav a {
    color: white;
}
nav a:hover  {
    color: grey;
}
.bg {
    background-image: url("images/bg_start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.name {
    text-align: end;
    height: 90vh;
    min-height: 90vh;
    width: 85%;
    margin-left: 10%;
}
.name h1,h3 {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    top: 80%;
    right: 5%;
    font-family: monospace;
}
.name h1 {
    font-size: 55px;
    font-weight: 200px;
}
.name h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}
.box  {
    background-color: #2c3139;
    border-radius: 20px;
    margin:0 5% 5% 5%;
    font-size: 20px;
    padding: 40px 25px 10px 25px;
    line-height: 40px;
    background-image: url("images/bg_start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box h1 {
    text-align: center;
}
hr {
    box-shadow: inset 0 0 2px 0 black;
    height: 3px;
    border-radius: 20px;
    width: 80vw;
    background-color: white;
}
.aboutMe {
    margin-top: 5%;
}
iframe {
    margin-top: 5%;
    border-radius: 20px;
    border: none;
}
a {
    text-decoration: none;
    color: #020069;
}
a:hover {
    color: grey;
}
.contents {
    line-height: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.contents article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 1;
    grid-row-end: 1; 
}
.contents article:nth-of-type(2) {
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 1; 
}
.contents article:nth-of-type(3) {
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 1; 
}
.contents article:nth-of-type(4) {
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 2; 
    grid-row-end: 2; 
}
.contents article:nth-of-type(5) {
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 2; 
}
.contents article:nth-of-type(6) {
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 2; 
}
.footer {
    margin: 0px;
    padding: 10px 10px 0px 0px;
    background-image: url("images/bg_start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 180px;
}
.social ol {
    list-style-type: none;
    display: flex;
}
.social ol li:first-of-type {
    margin-left: -34px;
}
#cdpen {
    margin-top: 2.8px;
    height: 38px;
    width: 38px;
}
.social img {
    width: 40px;
    height: 40px;
}
.social a {
    margin-right: 5px;
}
@media (max-width: 768px) {
    .aboutMe {
        margin-top: 50px;
    }
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #ffffff;
    display: none;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    background: #605a5a;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (prefers-reduced-motion: reduce) {
    body::-webkit-scrollbar {
        width: 12px;    
}   
    body::-webkit-scrollbar-thumb {
        background: #ddd;
}
    body::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}