body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}
* {
    scroll-behavior: smooth;
    margin-block-start: 0;
}
.bg {
    background-image: url("bg_start.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav  {
    background-color: #2c3139;
    /* width: 99.59vw; */
    height: 70px;
    align-items: center;
}
main {
    background-color: black;
    /* width: 100vw; */
    /* position: absolute; */
}
.box  {
    background-color: #2c3139;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    padding: 40px 25px 10px 25px;
    line-height: 30px;
    padding-top: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    margin-bottom: 5%;
    background-image: url("bg_start.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box h1 {
    text-align: center;
}
hr {
    box-shadow: inset 0 0 2px 0 black;
    height: 3px;
    border-radius: 20px;
    width: 80vw;
    background-color: white;
}
.box p {
    line-height: 40px;
}
.name {
    color: white;
    text-align: end;
    height: 90vh;
    min-height: 90vh;
    width: 85%;
    margin-left: 10%;
}
.name h1,h3 {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    top: 80%;
    right: 5%;
    font-family: monospace;
}
.name h1 {
    font-size: 55px;
    font-weight: 200px;
    font-family: monospace;
}
.name h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}
/* add custom scrollbar style */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #ffffff;
    display: none;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    background: #605a5a;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (prefers-reduced-motion: reduce) {
    /* apply alternative styling for users who prefer reduced motion */body::-webkit-scrollbar {
        width: 12px;    
}   
    body::-webkit-scrollbar-thumb {
        background: #ddd;
}
    body::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}
iframe {
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}
a {
    text-decoration: none;
    color: cyan;
}
a:hover {
    color: greenyellow;

}
.social ol {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.social li:first-of-type {
    margin-left: -40px;
}
@media (max-width: 768px) {
    .aboutMe {
        margin-top: 50px;
    }
}
nav .contents {
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vh;
    position: relative;
    top: 50%;
}
nav a {
    color: white;
}
nav a:hover  {
    color: grey;
}
.post .contents {
    display: flex;
    overflow-x: scroll;
    width: 82vw;
    scrollbar-width: none;
}
.work .contents {
    display: flex;
    overflow-x: scroll;
    width: 82vw;
    scrollbar-width: none;
}
.contents::-webkit-scrollbar {
    display: none;
}
.contents article {
    margin-right: 10%;
    max-width: 100%;
    flex: 0 0 100vh;
    height: auto;
}
.social a {
    margin-right: 25px;
}
.aboutMe {
    margin-top: 5%;
}