/* general */
*, ::after, ::before {
    cursor: none;
}
*::selection:not(a,p a) {
    background-color: #161f28; 
    color: #ffcc00;
}
a::selection,
i::selection,
a em::selection {
    background-color: #ffcc00;
    color: black !important;
}
:root {
    --x: -8px;
    --y: -8px;
}  
#ShadowText {
    color: #fff7d8;
    font-family: 'Glory', sans-serif;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-shadow:
      calc(var(--x) * -1) calc(var(--y) * -1) 0px #ffeeaa,
      calc(var(--x) * -2) calc(var(--y) * -2) 0px #ffdd55,
      calc(var(--x) * -3) calc(var(--y) * -3) 0px #ffcc00;
}
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background-color: #111820;
    color: white;
}
@media only screen and (max-width: 700px) {
    body .curContain {
        display: none;
    }
    body .cursor {
        width: 15px;
        height: 15px;
        transition: 0.1s;
        opacity: .5;
        pointer-events: none;
    }
}
.displayNone {
    display: none !important;
}
.curContain {
    position: fixed;
    width: 40px;
    height: 40px;
    rotate: 45deg;
    border: 2px solid #ffcc00;
    left: 0;
    transform: translate(-70%);
    pointer-events: none;
    transition: width 250ms, height 500ms;
}
.curContain.large {
    height: 70px;
    width: 70px;
    transition: 0.1s;
    rotate: -45deg;
    transform: translate(0%, -70%);
    border-radius: 50px !important;
    opacity: .1;
    background-color: white;
    border: none;
    z-index: 0;
}
.selected {
    background-color: none;
    position: fixed;
    z-index: 1100;
    border-radius: 50px;
    border: 3px #ffcc00 solid;
    pointer-events: none;
    transition: .1s;
}
.cursor {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: #ffcc00;
    z-index: 1100;
    border-radius: 50%;
    pointer-events: none;
}
@media (max-width: 768px) {
    body {
      cursor: auto;
    } 
}
.makegrey {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: .5s;
}
.makegrey:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    transition: .5s;
}
.jqueryFireFly {
    width: 3px !important;
    height: 3px !important;
    mix-blend-mode: difference;
    background-image: linear-gradient(#FFFF00 33%, #FFA500 66%, #FF4500 100%);
    animation: glowing 2s infinite;
}
@keyframes glowing {
    0% {
      box-shadow:  0 0 20px 1px #ffff00;
    }
    50% {
      box-shadow:  0 0 40px 5px #ffff00;
    }
    100% {
      box-shadow:  0 0 20px 1px #ffff00;
    }
  }
a {
    color: yellow;
}
a:hover {
    color: #ffcc00;
}
@media (min-width: 991px) {
#main {
    margin-left: 100px;
    }
}
/* container */
.container {
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    padding-right:calc(var(--bs-gutter-x) * 1.5);
    padding-left:calc(var(--bs-gutter-x) * 1.5);
    padding-bottom: 2%;
    padding-top: 0.5%;
    margin-right:auto;
    margin-left:auto;
    background-color: #161f28;
} 
@media (min-width:576px){
    .container{
        max-width:540px
    }
}
@media (min-width:768px){
    .container{
        max-width:720px
    }
}
@media (min-width:992px){
    .container{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container {
        max-width:1140px
    }
}
@media (min-width:1400px){
    .container {
        max-width:1320px
    }
}
/* navigation */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
@media (max-width: 991px) {
#header {
    width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
}
.nav-menu {
    padding: 0;
    display: block;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background-color: yellow;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: black;
}
@media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
    width: 56px;
    }
    .nav-menu a span,
    .nav-menu a:focus span {
    display: none;
    color: black;
    }
}
.nav-menu a.active {
    color: #ffcc00;
    background-color: black;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #ffcc00;
    background: black;
}
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #ffcc00;
}
.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #ffcc00;
}
.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}
/* background */
#bg .container {
    background: none;
}
#bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #5b4a547d, #522d7882, #1755557e), url("../img/back.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
@media (min-width: 992px) {
    #bg {
      padding-left: 160px;
    }
}
#bg h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
    color: white;
}  
#bg p {
    color: white;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}
#bg p span {
    color: yellow;
    letter-spacing: 1px;
}
#bg .social-links {
    margin-top: 30px;
}
#bg .social-links a {
    font-size: 24px;
    display: inline-block;
    color: white;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}
#bg .social-links a:hover {
    color: #ffd700;
}
@media (max-width: 992px) {
    #bg {
      text-align: center;
    }
    #bg h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #bg p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
}
hr {
    height: 5px;
    border-radius: 20px;
    width: 40vw;
    background-color: #ffcc00;
}
  
/* section */
section {
    padding: 60px 10px;
    overflow: hidden;
}
.section-title {
    padding-bottom: 30px;
    color: white;
}
.section-title h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    color: white;
}
.section-title p {
    margin-bottom: 0;
}
/* about */
.aboutMe .content h1 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}
.aboutMe .content ul {
    list-style: none;
    padding: 0;
}
.aboutMe .content ul li {
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.aboutMe .content ul strong {
    margin-right: 10px;
}
.aboutMe .content ul i {
    font-size: 25px;
    margin-left: 10px;
    color: #0563bb;
    line-height: 0;
}
.aboutMe a{
    color: black;
}
.aboutMe a:hover {
    color: #ffd700;
}
.aboutMe .content p:last-child {
    margin-bottom: 0;
}
/* resume */
.resume h1 {
    font-size: 45px;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.resume .resume-item {
    padding: 0px 0 20px 20px;
    margin-top: -10px;
    border-left: 5px double #ffcc00;
    position: relative;
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #ffcc00;
    margin-bottom: 10px;
}
.resume .resume-item h5 {
    font-size: 16px;
    border: #ffcc00 solid 2px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume .resume-item ul {
    padding-left: 20px;
}
.resume .resume-item ul li {
    padding-bottom: 10px;
}
.resume .resume-item:last-child {
    padding-bottom: 0;
    border-bottom: solid 5px #ffcc00;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10.5px;
    top: -15px;
    background: #ffcc00;
    border: 2px solid #ffcc00;
}
.resume .bx {
    vertical-align: middle;
}

/* project */
@media only screen and (max-width: 700px) {
    .project-items .project-num .plol {
        display: none;
    }
    .project-num {
        padding-bottom: 5%;
    }
    .project-wrap {
        max-width: 200px;
        max-height: 200px;
    }
    .project-info p {
        display: none;
    }
}
.project .project-items {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project .project-items:hover .project-num .plol {
    top: 0;
    left: 1;
    transition: all 0.8s ease-in-out;
}
.project-num .plol {
    color: #ffcc00;
    font-size: 100px;
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 100;
    transition: all 0.8s ease-in-out;
    transform: translate(-8%, 0%);
}
.project .project-wrap {
    display: flex;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
    border: 5px #111820 solid;
    width: 500px;
    height: 300px;
}
.project .project-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
.project .project-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.project .project-wrap .project-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ffcc00, transparent);
    background-size: 100% 175%;
}
.project .project-wrap .project-info::before {
    display: block;
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top-left-radius: 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transition: all 0.5s ease 0s;
    z-index: 9994;
 }
.project .project-wrap .project-info::after {
    display: block;
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.project .project-wrap .project-info h4 {
    font-size: 20px;
    color: black;
    font-weight: 600;
 }
.project .project-wrap .project-info p {
    padding: 0 10px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.project .project-wrap .project-links {
    text-align: center;
    z-index: 4;
}
.project .project-wrap .project-links a {
    color: black;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.project .project-wrap .project-links a:hover {
    color: #ffcc00;
}
.project .project-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.project .project-wrap:hover {
    border: 5px yellow solid;
}
.project .project-wrap:hover .project-info {
    opacity: 1;
}
.project .project-wrap:hover .project-info::before {
    top: 15px;
    left: 15px;
}
.project .project-wrap:hover .project-info::after {
    bottom: 15px;
    right: 15px;
}
.project-details {
    padding-top: 40px;
}
.project-details .project-details-slider img {
    width: 100%;
}
.project-details .project-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}
.project-details .project-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.project-details .project-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.project-details .project-info ul li+li {
    margin-top: 10px;
}
.project-details .project-description {
    padding-top: 30px;
}
.project-details .project-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}
.project-details .project-description p {
    padding: 0;
}
/* cursor: pointer !important; */
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffe100;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
}
#loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ccff00;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
}
#loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f7db00;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}