body, h1, p {
    /* overflow-y: hidden; */
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
.slide {
    background-color: black;
    display: flex;
    z-index: -999;
    height: 600vh;
    width: 200vw;
}
.slide .intro {
    margin: 0;
    padding: 0;
}
.slide .intro h1.introText {
    margin-left: 50vh;
    margin-top: 50vh;
    color: white;
}
.slide .intro .intro2 {
    height: 400vh;
    width: 200vw;
    display: flex;
}
.slide .intro2 p.mainText {
    position: relative;
    font-size: 100vh;
    text-wrap: nowrap;
    /* color: pink; */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 100vw;
    top: -65vh;
    background-position: fixed;
    background-attachment: fixed;
    background-position: -10px;
    background-size: 200%;
    background-image: url('../images/pexels-pixabay-356830.jpg');
}