*, ::after, ::before {
    cursor: none;
    scroll-behavior: smooth;
    box-sizing:border-box;
}
#toggle-button {
    background-color: white;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    left: 70px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 5px 0 black;
}
#toggle-button .ball{
    position: relative;
    background-color: #ff3040;
    width: 28px;
    height: 28px;
    left: -6px;
    top: .2px;
    border-radius: 50%;
    animation: strider 1s ease-in 1;
}
@keyframes strider {
    0% {
        left: 30px;
        background-color: #ffcc00;
    }
    50% {
        left: -12px;
    }
    100% {
        left: -6px;
        background-color: #ff3040;
    }
}
.container {
    line-height: 22px;
    font-size: 17.5px;
}
body {
    overflow-x: hidden;
    background-color: #111820;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    transition: 2s;
}
body, h1, p {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width:100%;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: #ffcc00;
}
a:hover {
    text-decoration: none;
    color: yellow;
}
img {
    max-width: 100%;
    height: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-list {
    flex-direction: row;
}
.article {
    margin: 2vh;
    max-width: 40vw;
    min-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.article img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.article .headline {
    margin-left: auto;
    margin-right: auto;
}
.goBack {
    /* position: fixed; */
    position: relative;
    top: -20px;
    left: 10px;
    /* cursor: pointer; */
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 0 5px 0 black;
    text-decoration: none;
    z-index: 996;
    background-color: yellow;
    width: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    animation: comein 1s ease-in ;
    animation-iteration-count: 1;
}  
.goBack i {
    font-size: 28px;
    color: black;
    line-height: 0;
}
.goBack:hover i {
    transition: 1s;
    color: #ffcc00;
}
.goBack:hover {
    transition: 1s;
    background: black;
    color: #fff;
}
/* selected for cursor u dumb bitch */
.selected {
    background-color: none;
    position: fixed;
    z-index: 1100;
    border-radius: 50px;
    border: 3px #ffcc00 solid;
    pointer-events: none;
    transition: .1s;
}
.displayNone {
    display: none !important;
}
.cursor {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: #ffcc00;
    z-index: 1100;
    border-radius: 50%;
    pointer-events: none;
}
@media (max-width: 768px) {
    body {
      cursor: auto;
    } 
}
@media only screen and (max-width: 700px) {
    body .curContain {
        display: none;
    }
    body .cursor {
        width: 15px;
        height: 15px;
        transition: 0.1s;
        opacity: .5;
        pointer-events: none;
    }
}
.curContain {
    position: fixed;
    width: 40px;
    height: 40px;
    rotate: 45deg;
    border: 2px solid #ffcc00;
    left: 0;
    transform: translate(-70%);
    pointer-events: none;
    transition: width 250ms, height 500ms;
}
.curContain.large {
    height: 70px;
    width: 70px;
    transition: 0.1s;
    rotate: -45deg;
    transform: translate(0%, -70%);
    border-radius: 50px !important;
    opacity: .1;
    background-color: white;
    border: none;
    z-index: 0;
}
/* footer */
footer {
    background-color: #161f28;
    color: white;
    text-align: center;
    padding:  30px 0;
}
footer h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}
footer .copyright {
    margin: 0px 0 -20px 0;
}
footer .social-links {
    margin: 0 0 40px 0;
}
footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffd700;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
footer .social-links a:hover {
    transition: 1s;
    background: black;
    color: yellow;
    text-decoration: none;
}

/* reach to top button */
.back-to-top a:hover {
    text-decoration: none;
}
.back-to-top a {
    text-decoration: none;
}
.back-to-top:hover {
    text-decoration: none;
}
.back-to-top {
    box-shadow: 0 0 5px 0 black;
    text-decoration: none;
    /* position: fixed; */
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background-color: yellow;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    animation: comein 1s ease-in ;
    animation-iteration-count: 1;
}  
.back-to-top i {
    font-size: 28px;
    color: black;
    line-height: 0;
}
.back-to-top:hover i {
    transition: 1s;
    color: #ffcc00;
}
.back-to-top:hover {
    transition: 1s;
    background: black;
    color: #fff;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
iframe {
    border: none;
    border-radius: 10px;
    margin: none;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 5px;
    max-width: 5px;
    border: none;
}
body::-webkit-scrollbar-track {
    background-image: linear-gradient(purple, blue, white);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #605a5a;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (prefers-reduced-motion: reduce) {
    body::-webkit-scrollbar {
        width: 10px;    
    }   
    body::-webkit-scrollbar-thumb {
        background: #ddd;
    }  
    body::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    }
}

.row>*{
    flex-shrink:0;
    width:100%;
    max-width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-top:var(--bs-gutter-y)
}
.row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));
    margin-left:calc(-.5 * var(--bs-gutter-x))
}
.col-md-6{
    flex:0 0 auto;
    width:50%
}
@media (min-width:768px){
        .col-md-6{
            flex:0 0 auto;
            width:50%
    }
}
@media (prefers-reduced-motion:reduce){
    .form-control{
        transition:none;
    }
}
h1,
h1,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
@media (min-width:992px){
    .mt-lg-0{
        margin-top:0!important
    }
}
.mt-5{
    margin-top:3rem!important
}
.align-items-center{
    align-items:center!important
}
.col-lg-4{
    flex:0 0 auto;
    width:33.33333333%
}
.col-lg-6{
    flex:0 0 auto;
    width:50%
}
.justify-content-center{
    justify-content:center!important
}
.col-lg-8{
    flex:1 0 auto;
    width:100.66666667%
}
.d-lg-none{
    display:none!important
}
.flex-column{
    flex-direction:column!important
}
.pt-4{
    padding-top:1.5rem!important
}
.pt-lg-0{
    padding-top:0!important
}
.pb-0{
    padding-bottom:0!important
}
hr {
    margin-top: 25px;
    margin-bottom: 70px;
    border-radius: 20px;
    width: 40vw;
    border-color: #ffcc00;
}